:host {
  position: relative;
  display: block;
}

.image-carousel__item-list-wrapper {
  touch-action: pan-y;
  height: 100%;
  overflow: hidden;
}

.image-carousel__item-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 302px;

  transition: transform 0.8s cubic-bezier(0.4, 0, 0.6, 1);
}

.image-carousel__item {
  float: none;
  height: 151px;
  width: 120px !important;
}

.prev-button,
.next-button {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  z-index: 10;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.prev-button {
  left: -15px;
}
.next-button {
  right: -15px;
}

.image-carousel__item-list-wrapper:hover .prev-button,
.image-carousel__item-list-wrapper:hover .next-button {
  opacity: 1;
  transform: scale(1.4) translateY(-50%);
}

.image-carousel__item-list-wrapper:hover .prev-button:hover,
.image-carousel__item-list-wrapper:hover .next-button:hover {
  transform: scale(1.4) translateY(-50%);
}
