.carousel-nav-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: #555;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, color 0.2s;
}

.carousel-nav-button:hover:not(:disabled) {
  background-color: white;
  color: #333;
}

.carousel-nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
