@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  background-color: $palette-neutral-bg;
  color: $color-text;
  line-height: $line-height-base;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
}

.shopee-svg-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: relative;
}

.navbar__link-icon.icon-shopping-cart-2 {
  fill: currentColor;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.cart-drawer .icon-shopping-cart-2 {
  color: $color-text-white;
  stroke: $color-text-white;
}
