@use 'variables' as *;
@use 'sass:math';

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin text-truncate($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $lines == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    white-space: pre-wrap;
  }
}

@mixin aspect-ratio($ratio: 1, $pseudo: 'before') {
  position: relative;

  &::#{$pseudo} {
    content: '';
    display: block;
    padding-top: percentage(math.div(1, $ratio));
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin fixed-top($z-index: $z-index-sticky) {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(0);
  z-index: $z-index;
}
