.section-banner-hotword--no-skin {
    background-color: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: 0;
    overflow: visible;
    padding-top: 30px;
}
