@use 'variables' as *;

.text-input__wrapper {
  margin-bottom: 10px;
}

.text-input__container {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  box-shadow: inset 0 2px 0 rgba($palette-neutral-black, 0.02);
  box-sizing: border-box;
  height: 2.5rem;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.text-input__input {
  filter: none;
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0.75rem;

  &::placeholder {
    opacity: 0.5;
  }

  &:disabled {
    background-color: $color-disabled-bg;
    color: $color-disabled-text;
    cursor: not-allowed;
  }
}

.authentication-input-error__text {
  color: $palette-semantic-error;
  font-size: $font-size-xxs;
  margin: 0;
  min-height: 1rem;
  padding: 0.25rem 0 0;
}

.text-input__checkmark {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0 0.9375rem 0 0.75rem;
  align-items: center;
  display: flex;
  color: $palette-semantic-success;
}
