.text-input__wrapper {
  margin-bottom: 10px;
}

.text-input__container {
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  height: 2.5rem;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.text-input__input {
  filter: none;
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0.75rem;
}

.text-input__input::placeholder {
  opacity: 0.5;
}

.text-input__input:disabled {
  background-color: #f9f9f9;
  color: #999;
  cursor: not-allowed;
}

.authentication-input-error__text {
  color: #ff424f;
  font-size: 0.75rem;
  margin: 0;
  min-height: 1rem;
  padding: 0.25rem 0 0;
}

.text-input__checkmark {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0 0.9375rem 0 0.75rem;
  align-items: center;
  display: flex;
  color: #66cc00;
}
