@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
  @include flex-center;
  height: 100%;
}

.bouncing-dots-spinner__wrapper {
  @include flex-center;
  gap: 8px;
}

.bouncing-dots-spinner__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-primary;

  animation: bounce-animation 1.2s infinite ease-in-out both;
}

.bouncing-dots-spinner__dot:nth-child(1) {
  animation-delay: -0.32s;
}

.bouncing-dots-spinner__dot:nth-child(2) {
  animation-delay: -0.16s;
}

.bouncing-dots-spinner__dot:nth-child(3) {
  animation-delay: 0s;
}

@keyframes bounce-animation {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
