@use 'variables' as *;
@use 'mixins' as *;

.quick-access-menu {
  background-color: $palette-neutral-white;
  @include flex-center($justify: space-around);
  margin: 10px auto 0;
  min-height: 108px;
  width: 1200px;
}
