@use 'variables' as *;
@use 'mixins' as *;

.wrapper {
  @include flex-col;
  min-height: 100vh;
  position: relative;
}

.home-wrapper.home-wrapper-transition {
  margin-top: $header-total-margin;
}

.home-wrapper-transition {
  transition: margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-overflow-scrolling: touch;
}
