.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.home-wrapper.home-wrapper-transition{
    margin-top: 7.4375rem;
}

.home-wrapper-transition {
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    -webkit-overflow-scrolling: touch;
}