.category-list__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 3.75rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

.category-list__header__title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  font-weight: 500;
}
