/* Header */
.header {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header--sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  z-index: 100;
}

.header--sticky .header__navbar-wrapper.container-wrapper { 
  min-width: 100%;
}

.header--sticky .navbar.container { 
  max-width: 1200px;
  width: inherit;
}

.container-wrapper {
  min-width: inherit;
}

/* Navbar */
.header__navbar-wrapper {
  background: transparent;
  height: 2.125rem;
  position: relative;
  z-index: 400;
}

.navbar {
  align-items: center;
  display: flex;
  color: #fff;
}

.navbar__drawer {
  display: flex;
  outline: 0;
  overflow: visible;
  position: relative;
}

/* Navbar left*/
.navbar__left {
  align-items: center;
  display: flex;
}

.navbar__left-link {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8125rem;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0.25rem;
}

.navbar__left-link-text {
  color: #fff;
  font-size: .8125rem;
  font-weight: 300;
  outline: 0;
  overflow: visible;
  padding: .25rem;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.navbar__left-link--text::after {
  border: 0;
}

.navbar__left-link:not(:first-child) {
  margin-left: .625rem;
}

.navbar__left-link:not(:first-child):after {
  border-left: 1px solid hsla(0, 0%, 100%, .22);
  border-right: 1px solid hsla(0, 0%, 100%, .22);
  content: "";
  height: .9375rem;
  left: -6px;
  position: absolute;
  top: calc(50% - 7px);
  width: 0;
}

.navbar__left-link--no-border::after {
  display: none;
}

/* Navbar right */
.navbar__links {
  height: 2.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8125rem;
  font-weight: 300;
  text-transform: capitalize;
}

.navbar__right-link-text {
  display: flex;
  align-items: center;
  color: currentColor;
  padding: 6px;
}

.navbar__link-text {
  font-size: .8125rem;
  font-weight: 300;
  margin-left: .3125rem;
  text-transform: capitalize;
}

/* Social icons */
.navbar__social {
  display: flex;
  gap: .5rem;
}

/* Spacer */
.navbar__spacer {
  flex: 1;
}

/* Help link */
.navbar__link--help {
  padding-left: 0;
}

.navbar__help-center-icon {
  height: 1.125rem;
  width: 1.125rem;
}

/* Language */
.navbar__language {
  align-items: center;
  color: #fff;
  display: flex;
  padding: .4375rem .625rem;
}

/* Popover */
.stardust-popover {
  position: relative;
}

/* Container Wrapper */
.header--sticky .header-with-search-wrapper {
  min-width: inherit;
}

/* Header with search */
.header-with-search-wrapper {
  background: transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  box-sizing: border-box;
}

.header--sticky .header-with-search.container{
  max-width: 1200px;
  width: inherit;
}

.header-with-search {
  display: flex;
  height: 5.3125rem;
  justify-content: space-between;
  padding: 1rem 0 .625rem;
}

/* Header with search - Logo */
.header-with-search__logo-section {
  padding-right: 2.5rem;
  position: relative;
  top: -.1875rem;
}

.header-with-search__logo-wrapper {
  border-radius: 2px;
  margin: -2px;
  padding: 2px;
}

.header-with-search .header-with-search__logo-section {
  box-sizing: border-box;
}

.header-with-search__shopee-logo {
  height: 50px;
  width: 162px;
}

.header-with-search__shopee-logo.icon-shopee-logo {
  display: block;
}

.icon-shopee-logo {
  fill: #fff;
}

/* Header with search - Search section */
.header-with-search__search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 840px;
}

.header-with-search__search-section>.shopee-searchbar {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.09);
  width: 100%;
}

.shopee-searchbar {
  --focus-indicator-spacing: 3px;
  align-items: stretch;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  padding: .1875rem;
}

.shopee-searchbar__main {
  display: flex;
  flex: 1;
}

.header-with-search-wrapper .shopee-searchbar-input {
  background-color: #fff;
  border-color: #fff;
}

.shopee-searchbar-input {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  padding: 0 .625rem;
  position: relative;
}

.shopee-searchbar-input__input {
  align-items: center;
  border: 0;
  display: flex;
  flex: 1;
  margin: 0;
  outline: none;
  padding: 0;
}

.shopee-searchbar-input__input::-webkit-input-placeholder {
  font-size: .875rem;
  color: #9c9c9c;
}

.header-with-search-wrapper .shopee-searchbar > .btn-solid-primary {
  background: #fb5533;
  outline: 0;
  overflow: visible;
  position: relative;
}

.shopee-searchbar__search-icon {
  color: #fff;
}

/* Hot search keywords section */
.hot-search-keywords {
   flex: 1; 
}

.hot-search-keywords__main {
  flex-wrap: wrap;
  font-size: .75rem;
  font-weight: 300;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-top: .1875rem;
  overflow-y: clip;
  position: relative;
}

.hot-search-keywords, .hot-search-keywords__main {
  display: flex;
  width: 100%;
}

.hot-search-keywords__main-text {
  color: hsla(0, 0%, 100%, .9);
  display: block;
  height: .875rem;
  line-height: .875rem;
  margin-bottom: .3125rem;
  margin-left: 13px;
  margin-top: .3125rem;
  outline: 0;
  overflow: visible;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  white-space: nowrap;
}

.hot-search-keywords__main-text:first-child {
  margin-left: 0;
}

/* Header with search - Cart section */
.header-with-search__cart-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 10px;
  padding-bottom: 5px;
}

.cart-drawer-container {
  padding: 10px 0;
}

.cart-drawer {
  align-items: center;
  display: flex;
}