@use 'variables' as *;
@use 'mixins' as *;

:host {
  box-shadow: 0 1px 1px 0 $color-border-light;
  flex: 2;
}

.stardust-carousel,
.stardust-carousel__item-list-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.stardust-carousel__item-list-wrapper {
  box-sizing: border-box;
  overflow-x: hidden;
  padding-top: 29.5003%;
}

.stardust-carousel__item-list {
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: pan-y;
  transition: transform 0.5s ease;
}

.stardust-carousel__item {
  @include flex-center;
  align-self: center;
  flex-shrink: 0;
  height: 100%;
  list-style: none;
  overflow: hidden;
}

.stardust-carousel__item-inner-wrapper {
  width: 100%;
  height: 100%;
}

.stardust-carousel__item-inner-wrapper-image-wrapper {
  display: block;
  height: 100%;
  position: relative;

  img {
    object-fit: cover;

    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0;
    vertical-align: bottom;
    object-position: bottom;
    background-position: bottom;
  }
}

.stardust-carousel__item-inner-wrapper-image-wrapper > div {
  display: flex;
  height: 100%;
}

.stardust-carousel__dots {
  bottom: 1rem;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  transition: opacity 0.5s ease;
  width: 100%;
}

.stardust-carousel__dot {
  background-color: hsla(0, 0%, 100%, 0.4);
  border: 1px solid hsla(0, 0%, 54%, 0.4);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 0.5rem;
  opacity: 1;
  width: 0.5rem;

  &:hover {
    background-color: $palette-neutral-white;
  }

  &--active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &:not(:first-child) {
    margin-left: 0.5rem;
  }
}
