.stardust-carousel, .stardust-carousel__item-list-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.stardust-carousel__item-list-wrapper {
    box-sizing: border-box;
    overflow-x: hidden;
}

.stardust-carousel__item-list {
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    touch-action: pan-y;
}

.stardust-carousel__item {
    align-items: center;
    align-self: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    list-style: none;
    overflow: hidden;
}

.stardust-carousel__item-inner-wrapper {
    width: 100%;
    height: 100%;
}

.stardust-carousel__item-inner-wrapper-image-wrapper {
    display: block;
    height: 100%;
}

.stardust-carousel__item-inner-wrapper-image-wrapper>div {
    display: flex;
    height: 100%;
}