@use 'variables' as *;
@use 'mixins' as *;
@use 'components' as *;

@mixin auth-page-layout {
  :host {
    display: block;
    background-color: $color-primary;
  }

  .register__content {
    background-image: url(https://down-vn.img.susercontent.com/file/sg-11134004-8258m-mg4yg96e6q6gb9);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    margin: 0 auto;
    min-height: 600px;
    width: 1040px;
    @include flex-center($justify: flex-end);
  }

  .register__section {
    @include flex-center($justify: space-between);
    width: 100%;
    height: 600px;
  }

  .register__section-left {
    @include flex-center($direction: column);
  }

  .register__section-right {
    width: 400px;
    background-color: $palette-neutral-white;
    border-radius: $border-radius-lg;
    box-shadow: 0 3px 10px 0 rgba($palette-neutral-black, 0.14);
    box-sizing: border-box;
  }

  .register__title-wrapper {
    box-sizing: border-box;
    min-height: 80px;
    @include flex-center($justify: space-between);
  }

  .register__title {
    padding: 1.375rem 30px;
    width: 100%;
    @include flex-center($justify: space-between);
  }

  .register__title-text {
    color: $palette-neutral-dark;
    font-size: $font-size-lg;
    max-width: 8.5rem;
  }

  .register__form-wrapper {
    overflow: hidden;
    padding: 0 30px 30px;
  }

  .authentication-input-error__text {
    color: $palette-semantic-error;
    font-size: $font-size-xxs;
    margin: 0;
    min-height: 1rem;
    padding: 0.25rem 0 0;
  }

  .register__submit-button {
    @include btn-base-styles;
    @include btn-style-primary;

    margin-bottom: 30px;
    width: 100%;
    height: 2.5rem;
    min-width: 8.75rem;
    padding: 0 0.625rem;
    text-transform: uppercase;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      transition: opacity 0.3s ease;
    }

    &:not(:disabled):hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .register__account-available {
    margin-bottom: 30px;
  }

  .account-available__wrapper {
    font-size: $font-size-sm;
    color: $color-text-faded;
    padding-right: 4px;
    white-space: pre;
    @include flex-center;
    width: 100%;
  }

  .account-available__text {
    color: $color-primary;
    font-weight: $font-weight-medium;
    font-size: $font-size-sm;
  }

  .register__success-message {
    text-align: center;
    font-size: $font-size-lg;
    color: $palette-semantic-success-dark;
    padding: 40px 0;
    min-height: 150px;
    @include flex-center($direction: column);

    p {
      font-size: $font-size-base;
      color: $palette-neutral-gray;
      margin-top: 10px;
    }
  }

  .register__input-wrapper {
    margin-bottom: 10px;
  }

  .register__form-wrapper .register__input-container {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%;
  }

  .register__input {
    filter: none;
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0.75rem;
  }

  .register__input::placeholder {
    opacity: 0.5;
  }

  .register__input:disabled {
    background-color: #f9f9f9;
    color: #999;
    cursor: not-allowed;
  }
}
