.image-carousel-item__category-grid {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
    box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

.image-carousel-item__category-grid::before {
  content: '';
  display: block;
  padding-top: 126%;
}

.image-carousel-item__category-grid-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image-carousel__wrapper {
  margin-top: 10%;
  width: 70%;
}

.text-carousel__wrapper {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  word-break: break-word;
}
