@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: $spacing-xs;
}

.mini-carousel__wrapper {
  flex: 1;
  box-shadow: 0 1px 1px 0 $color-border-light;
  border-radius: $border-radius;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: $spacing-xs;
  }
}

.mini-carousel__image-link {
  display: block;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    // object-fit: contain;
    height: 100%;
  }
}
