.banner-image__link:first-child {
    border-top-right-radius: 2px;
    overflow: hidden;
}

.banner-image__link {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .87);
    display: block;
    flex: 1 1 50%;
    -webkit-text-decoration: none;
    text-decoration: none;
}