@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:math';

:host {
  position: relative;

  &:hover {
    .prev-button,
    .next-button {
      transform: translateY(-50%) scale($scale-interaction-pop);
      opacity: 1;
    }
  }
}

.image-carousel__item-list-wrapper {
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
  position: relative;
}

.image-carousel__item-list {
  @include flex-center($direction: column, $justify: none, $align: flex-start);
  flex-wrap: wrap;
  height: 302px;
  margin: 0;
  padding: 0;
  position: relative;

  transition: transform 0.5s ease-in-out;
}

.image-carousel__item {
  list-style: none;
  touch-action: pan-y;
  width: 120px;
  height: 151px;
}

.prev-button {
  left: -$spacing-sm;
}

.next-button {
  right: -$spacing-sm;
}

.prev-button,
.next-button {
  opacity: 1;
  transform: scale(1) translateY(-50%);
  position: absolute;
  top: 50%;
  z-index: $z-index-over-content;

  transition: transform 0.1s ease;
}
