/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Helvetica Neue,Helvetica,Arial, 文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,SHPBurmese,sans-serif;
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.btn {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-items: center;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    outline: 0;
    text-transform: capitalize;
}

.btn--inline {
    display: inline-flex;
}

.btn--s {
    height: 34px;
    max-width: 190px;
    min-width: 60px;
    padding: 0 15px;
}

.shopee-svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: relative;
}

.navbar__link-icon.icon-shopping-cart-2 {
    fill: currentColor;
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.cart-drawer .icon-shopping-cart-2 {
    color: #fff;
    stroke: #fff;
}
